$body-bg: #ECF5FD;
$body-color: #0A1433;
$primary: #2952CC;
$font-family-sans-serif: 'Fira Sans';
$font-family-monospace: 'Fira Mono';

@import "node_modules/bootstrap/scss/bootstrap";

.blueBG {
  background-color: $primary;
}

a {
  text-decoration: none;
}
