@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/prodigy-sans.min.css");

:root {
  --timidBlue: #ECF5FD;
  --medBlue: #ECF5FD;
  --hardBlue: #4995F6;
}

body, html {
  font-family: 'Prodigy Sans', sans-serif;
  background-color: var(--medBlue);
}

.blueBG {
  background-color: #4995F6;
}

a {
  text-decoration: none;
}
